*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 
body {
	padding:0px;
	margin:0px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	background:#d4cfbd;
	font-weight:400;
}
a{
	text-decoration:none
}
.clear{
	clear:both;
}
.m_header{
	padding:0px;
	margin:0px;
	min-height:100px;
	background:#FFF;
}
.m_logo{
	width:180px;
	height:85px;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.m_nav{
	padding:0px;
	margin:54px 0px 0px 0px;
	float:left;
}
.m_nav ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.m_nav li{
	padding:0px;
	margin:0px;
	float:left;
}
.m_nav li a{
	padding:15px 25px;
	margin:0px;
	float:left;
	font-size:14px;
	color:#625f58;
	background:#d3cdbb;
	text-decoration:none;
	font-weight:bold;
}
.m_user_area{
	width:314px;
	min-height:30px;
	float:right;
	margin-top:60px;
	margin-right:20px;
}
.m_user_name{
	width:150px;
	float:left;
	font-size:14px;
	color:#847f6c;
	background:url(../images/m-user.jpg) no-repeat left;
	padding:10px 0 0px 30px;
}
.m_user_setting{
	width:100px;
	float:left;
	font-size:14px;
	color:#847f6c;
	background:url(../images/setting-top.png) no-repeat left;
	padding:7px 0 7px 30px;
}
.m_user_setting:hover{
	opacity:.6;
}
.m_logout{
	padding:5px 13px;
	margin:0px;
	background:#ffbb00;
	color:#FFF;
	font-size:12px;
	text-align:center;
	display:block;
	float:left;
	text-decoration:none;
	font-weight:bold;
	margin-top:3px;
}
.m_logout:hover{
	background-color:#e3a702;
}
.m_container{
	margin:45px 40px;
}
.mschool_bx_con{
	width:220px;
	min-height:270px;
	background:url(../images/shadow.png) repeat-y left;
	padding-left:25px;
	position:relative;
	float:left;
	margin:0 10px 40px 0px;
}

.sh_top{
	position:absolute;
	top:0px;
	left:0px;
	width:25px;
	height:50px;
	background:url(../images/sh-top.png) no-repeat;
}
.sh_btm{
	position:absolute;
	bottom:0px;
	left:0px;
	width:25px;
	height:50px;
	background:url(../images/sh-btm.png) no-repeat;
}
.mschool_bx{
	width:190px;
	min-height:260px;
	position:relative;
	
}
.mtop_bx{
	width:190px;
	height:140px;
	background:#FFF;
	padding-top:20px;
}
.mbtm_bx{
	width:190px;
	min-height:140px;
	background:#ffbb00;
	position:relative;
	padding:15px;
	font-size:12px;
	color:#564004;
}
.mbtm_bx h1{
	padding:0px;
	margin:0px;
	color:#564004;
	font-size:14px
}
.mcorner{
	position:absolute; 
    height: 0px; 
    width: 0px;
	bottom:0px;
	right:0px;
    border-top: 20px solid #fae29f; 
    border-left: 20px solid #fae29f; 
    border-right: 20px solid transparent; 
    border-bottom: 20px solid transparent;
	background:#d4cfbd;
}
.mcorner_shadow{
	position:absolute; 
    height: 0px; 
    width: 0px;
	bottom:0px;
	right:40px;
    border-top: 20px solid #ffbb00; 
    border-left: 20px solid #ffbb00; 
    border-right: 20px solid transparent; 
    border-bottom: 20px solid transparent;
	background:#c18f05;
}
.toggle_but{
	width:23px;
	height:18px;
	position:absolute;
	bottom:20px;
	left:15px;
	cursor:pointer;
}

.toggle_but span{
	padding:0px;
	margin:3px 0px 3px 0px;
	background:#FFF;
	width:23px;
	height:4px;
	display:block;
}
.toggle_con{
	width:190px;
	min-height:100px;
	display:none;
	background:#3a372b;
	position:absolute;
	bottom:50px;
	left:0px;
	z-index:10;
	padding:8px 0px 10px 0px;
}

.toggle_con ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.toggle_con ul li{
	padding:0px;
	margin:0px;
}
.toggle_con ul li a{
	padding:6px 0px 6px 30px;
	margin:0px;
	display:block;
	color:#d4cfbd;
	font-size:11px;
	background:url(../images/m-arrow.png) no-repeat 10px 9px;
	border-bottom:1px #302e24 solid;
}
.toggle_con ul li a:hover{
	color:#ffbb00;
}
.t_arrow_btm{
	position:absolute; 
    height: 0px; 
    width: 0px; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid #3a372b;
	bottom:-10px;
	left:15px;
}

/*login page*/

.mlogin_container{
	margin:45px 40px;
}
.mlogin_bx_con{
	width:300px;
	min-height:270px;
	background:url(../images/shadow.png) repeat-y left;
	padding-left:25px;
	position:relative;
	margin:10% auto 40px auto;
}

.mlogin_sh_top{
	position:absolute;
	top:0px;
	left:0px;
	width:25px;
	height:50px;
	background:url(../images/sh-top.png) no-repeat;
}
.mlogin_sh_btm{
	position:absolute;
	bottom:0px;
	left:0px;
	width:25px;
	height:50px;
	background:url(../images/sh-btm.png) no-repeat;
}
.mlogin_bx{
	width:300px;
	min-height:260px;
	position:relative;
	
}
.mlogin_top_bx{
	width:300px;
	height:140px;
	background:#FFF;
	padding-top:20px;
}
.mlogin_btm_bx{
	width:300px;
	min-height:140px;
	background:#ffbb00;
	position:relative;
	padding:20px 30px;
	font-size:12px;
	color:#564004;
}
.mlogin_btm_bx h1{
	padding:0px;
	margin:0px;
	color:#564004;
	font-size:14px;
}
.mlogin_corner{
	position:absolute; 
    height: 0px; 
    width: 0px;
	bottom:0px;
	right:0px;
    border-top: 20px solid #fae29f; 
    border-left: 20px solid #fae29f; 
    border-right: 20px solid transparent; 
    border-bottom: 20px solid transparent;
	background:#d4cfbd;
}
.mlogin_corner_shadow{
	position:absolute; 
    height: 0px; 
    width: 0px;
	bottom:0px;
	right:40px;
    border-top: 20px solid #ffbb00; 
    border-left: 20px solid #ffbb00; 
    border-right: 20px solid transparent; 
    border-bottom: 20px solid transparent;
	background:#c18f05;
}
.mform{
	padding:0px;
	margin:0px;
}
.mform ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.mform li{
	padding:10px 0px;
	margin:0px;
}
.mform input[type="text"], .mform input[type="password"]{
	border:none;
	background:#FFF;
	color:#666;
	font-size:12px;
	padding:8px 10px;
	outline:none;
	width:90%;
}
.mform input[type="submit"]{
	padding:8px 15px;
	margin:0px;
	background:#3a372b;
	color:#fff;
	border:none;
	cursor:pointer;
	outline:none;
}
.mform input[type="submit"]:hover{
	background:#171611;
}
.lp{
	color:#3a372b;
	padding-left:10px;
	
}
.lp:hover{
	color:#171611;
}
.errorSummary{
	line-height:6px;
	color:#900;
	font-weight:bold;
	padding:0px 0px 6px 0px;
}
.errorSummary li{
	padding:0px;
}

/*inner style*/
.m_inner_con{
	width:100%;
	min-height:600px;
	padding:20px 0px 20px 230px;
	background:#FFF;
	margin:0 auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	  box-sizing: border-box;         /* Opera/IE 8+ */
	  position:relative;
}
/*leftnav*/
.m_leftpanel{
	width:230px;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background-color:#343436;
}
.m_yellow_bx{
	width:100%;
	min-height:130px;
	background-color:#ffbb01;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	  box-sizing: border-box;         /* Opera/IE 8+ */
	  padding-top:45px;
}
.myb_h{
	width:100px;
	font-size:18px;
	color:#9d7404;
	margin:0 auto 0 auto;
	padding:10px 0 10px 35px;
	background:url(../images/setting-b-icon.png) no-repeat left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	  box-sizing: border-box;         /* Opera/IE 8+ */
	  font-weight:900;
}
.m_leftnav{
	padding:20px 0px 0px 0px;
	margin:0px;
}
.m_leftnav ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.m_leftnav li{
	padding:0px;
	margin:10px 0px;
}
.m_leftnav li.active{
	background:#242426 url(../images/nav-arrow.png) no-repeat right;
}
.m_leftnav li a{
	padding:15px 0px 15px 75px;
	margin:0px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	display:block;
	text-decoration:none;
	font-weight:400;
	letter-spacing:.05em;
}
.m_leftnav li a:hover{
	opacity:.6;
}
.m_leftnav li a.manage{ background:url(../images/nav_icons.png) no-repeat 30px 10px;}
.m_leftnav li a.user{ background:url(../images/nav_icons.png) no-repeat 30px -41px;}
.m_leftnav li a.profile{ background:url(../images/nav_icons.png) no-repeat 30px -84px;}
.m_leftnav li a.password{ background:url(../images/nav_icons.png) no-repeat 30px -133px;}
.m_leftnav li a.logout{ background:url(../images/nav_icons.png) no-repeat 29px -180px;}

/*right panel*/
.m_rightpanel{
	padding:20px 0px ;
	margin:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	  box-sizing: border-box;         /* Opera/IE 8+ */
}
.m_rightpanel_inner{
	padding:20px 40px;
}
.m_rightpanel h1{
	padding:0px 0px 20px 40px;
	margin:0px;
	font-size:18px;
	border-bottom:1px #e4e2dd solid;
	font-weight:900;
	color:#343436;
}
.m_listtable{
	padding:0px;
	margin:0px;
}
.m_listtable td{
	border-bottom:1px #e4e2dd solid;
	padding:15px 0px;
	text-align:left;
}
.m_listtable th{
	border-bottom:1px #e4e2dd solid;
	padding:8px 0px;
	text-align:left;
}
/*form style*/
.m_form{
	padding:0px;
	margin:0px;
	max-width:1000px;
}
.m_success{
	color:#063;
}
.m_note{
	font-weight:bold;
}
.m_row{
	padding:10px 0px;
	margin-right:10px;

	
}
.m_hint{
	font-style:italic;
	font-size:11px;
}
.error{
	color:#C30;
}
.errorSummary{
	padding:0px;
	margin:0px;
}
.errorSummary ul{
	
	margin:0xp;
}
.errorSummary li{
	padding:8px 0px;
	margin:0xp;
	font-weight:normal;
}

.m_row label{
	display:block;
	padding-bottom:6px;
	font-weight:bold;
}
.m_row input[type="text"]{
	display:block;
	padding:8px;
	width:300px;
	border:1px #d0d0d0 solid;
}
.m_row input[type="password"]{
	display:block;
	padding:8px;
	width:300px;
	border:1px #d0d0d0 solid;
}
.m_row select{
	display:block;
	padding:8px;
	width:300px;
	border:1px #d0d0d0 solid;
}

.m_btn {
  background: #f5bc36;
  background-image: -webkit-linear-gradient(top, #f5bc36, #dba315);
  background-image: -moz-linear-gradient(top, #f5bc36, #dba315);
  background-image: -ms-linear-gradient(top, #f5bc36, #dba315);
  background-image: -o-linear-gradient(top, #f5bc36, #dba315);
  background-image: linear-gradient(to bottom, #f5bc36, #dba315);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none;
  cursor:pointer;
  outline:none;
}

.m_btn:hover {
  background: #fcb63c;
  background-image: -webkit-linear-gradient(top, #fcb63c, #cc860c);
  background-image: -moz-linear-gradient(top, #fcb63c, #cc860c);
  background-image: -ms-linear-gradient(top, #fcb63c, #cc860c);
  background-image: -o-linear-gradient(top, #fcb63c, #cc860c);
  background-image: linear-gradient(to bottom, #fcb63c, #cc860c);
  text-decoration: none;
   border:none;
}

.items{
	padding:0px;
	margin:15px 0px 0px 0px;
	
}

.items th{
	background:#F7F7F7 !important;
	padding:10px 0px !important;
	height:30px;
	border-bottom:1px #e4e2dd solid !important;
	border-top:1px #e4e2dd solid !important;
	text-align:left;
}
.items th a{
	font-size:14px;
	color:#666 !important;
	display:block;
	text-align:left;
	padding-left:15px;
}
.items td{
	border-bottom:1px #e4e2dd solid !important;
}
.items a{
	color:#069;
}
.grid-view table.items th, .grid-view table.items td{
	padding: 15px 15px !important;
	text-align:left;
}
.grid-view table.items th, .grid-view table.items td:last-child{
	padding:10px 0px !important;
}
.grid-view table.items tr.odd{
	background:none !important;
}
.grid-view table.items tr.even{
	background:none !important;
}
.filters input[type="text"]{
	width:80% !important;
	border:1px #999999 solid;
	padding:5px 0px;
}
.filters select{
	width:80% !important;
	border:1px #999999 solid;
	padding:5px 0px;
}
.grid-view table.items{
	border:2px #EFEFEF solid !important;
}
.detail-view{
	max-width:700px;
}
table.detail-view tr.odd{
	background:none !important;
}
table.detail-view tr.even{
	background:none !important;
}
table.detail-view th{
	padding:8px 0px !important;
	text-align:left !important;
	border-bottom:1px #e4e2dd solid !important;
}
table.detail-view td{
	padding:10px 0px !important;
	text-align:left !important;
	border-bottom:1px #e4e2dd solid !important;
}
.top_right{
	width:100px;
	height:30px;
	position:absolute;
	right:30px;
}
.edit_link{
	width:23px;
	height:23px;
	background:url(../images/eedit_icon.png) no-repeat;
	display:block;
	float:right;
}